@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&family=Pacifico&display=swap');

.main {
  display: flex;
  height: 90vh;
}

.button {
  width: 7.5vw;
  height: 5vh;
  color: #6d0606;
  background-color: #df5555;
  border: 0px;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
  outline: none;
}

.bold {
  font-weight: 800;
}

.underline {
  text-decoration: underline;
}

/*----- NAVBAR -----*/
.nav {
  width: 100%;
  max-height: 5vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1vw 2vw 1vw 2vw;
  background-color: #6d0606;
}

.logo {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #df5555;
}

.logo:hover {
  color: #c93434;
}

.pomSvg {
  width: 2vw;
  fill: #df5555;
}

/*----- SIDEBAR -----*/
.sidebar {
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 1vh;
  border-right: 1px dashed #6d0606;
}

.userName {
  margin: 0;
  font-size: 2em;
}

.userStats {
  margin: 0 0 0 1vw;
}

.addProject {
  margin-bottom: 0;
}

/*----- SIDEBAR PROJECT -----*/
.projectName {
  margin: 1vh 0 1vh 1vw;
}

.projectToggle {
  padding-right: 0.5vw;
}

.projectToggle:hover {
  fill: #c93434;
}

/*----- MAIN PROJECT -----*/
.mainProject {
  margin: 2vh 0 0 2vw;
}

.mainProject h1 {
  font-size: 4em;
  margin-bottom: 0;
}

/*----- POM -----*/


/*----- TIMER -----*/
.startButton {
  height: 2.5vh;
}

/*----- ADD PROJECT -----*/
.addProjectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.addProjectForm > * {
  margin: 1vh;
}

/*----- DEMO -----*/
.demo {
  width: 80%;
  margin-top: 4vh;
  text-align: center;
}

.hide {
  display: none;
}

.advanceLink {
  text-decoration: underline;
}

.demoImg {
  max-height: 25vh;
}

.demoImgTag {
  color: #c93434;
  font-style: italic;
}

.demo > div > h2 {
  padding-bottom: 2em;
  font-size: 2em;
}

.demo > div > p {
  padding-bottom: 2em;
}
