@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&family=Pacifico&display=swap');

.main {
  display: flex;
  height: 90vh;
}

/*----- NAVBAR -----*/
.nav {
  width: 100%;
  max-height: 5vw;
  margin: 0;
  padding: 1vw 2vw 1vw 2vw;
  text-align: right;
  background-color: #6d0606;
}

.logo {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #df5555;
}

.logo:hover {
  color: #c93434;
}

/*----- SIDEBAR -----*/
.sidebar {
  width: 15%;
  height: 100%;
  margin: 0;
  padding: 1vh;
  border-right: 1px dashed #6d0606;
}

.userName {
  margin: 0;
  display: inline-block;
  color: #6d0606;
}

/*----- SIDEBAR PROJECT -----*/
.projectName {
  margin: 1vh 0;
  color: #6d0606;
}

.projectToggle {
  padding-right: 0.5vw;
}

.projectToggle:hover {
  fill: #c93434;
}

/*----- SIDEBAR POM -----*/
.projectPom {
  margin: 0 0 0 2vw;
  color: #6d0606
}